#include "WinResrc.h"
#include "Resources.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

ID_MAINMENU MENU DISCARDABLE
{
    POPUP "File"
    {
      MENUITEM "New", ID_MAINMENU_FILE_NEW
      MENUITEM "Open...", ID_MAINMENU_FILE_OPEN
      MENUITEM "Save", ID_MAINMENU_FILE_SAVE
      MENUITEM "Save As...", ID_MAINMENU_FILE_SAVE_AS
      MENUITEM SEPARATOR
      MENUITEM "Exit", ID_MAINMENU_FILE_EXIT
    }
    POPUP "Edit"
    {
      MENUITEM "Copy pose\tCTRL+C", ID_MAINMENU_EDIT_COPYPOSES
      MENUITEM "Paste pose\tCTRL+V", ID_MAINMENU_EDIT_PASTEPOSES
      MENUITEM SEPARATOR
      MENUITEM "Apply pose to all frames", ID_MAINMENU_EDIT_APPLYPOSETOALL
      MENUITEM SEPARATOR
      MENUITEM "Edit position...", ID_MAINMENU_EDIT_POSITION
      MENUITEM "Edit rotation...", ID_MAINMENU_EDIT_ROTATION
      MENUITEM "Edit scale...", ID_MAINMENU_EDIT_SCALE
      MENUITEM SEPARATOR
      MENUITEM "Parent 1st to 2nd in all frames", ID_MAINMENU_EDIT_PARENT
      MENUITEM SEPARATOR
      MENUITEM "Select all", ID_MAINMENU_EDIT_SELECTALL
      MENUITEM "Select none", ID_MAINMENU_EDIT_SELECTNONE
    }
    POPUP "View"
    {
      MENUITEM "Animation window", ID_MAINMENU_VIEW_ANIMWINDOW, CHECKED
      MENUITEM SEPARATOR
      MENUITEM "Reset camera", ID_MAINMENU_VIEW_RESETCAM
      MENUITEM "Show first person view", ID_MAINMENU_VIEW_SETFPSVIEW
      MENUITEM SEPARATOR
      MENUITEM "Toggle background color", ID_MAINMENU_VIEW_BGCOLOR
      MENUITEM "Render grid", ID_MAINMENU_VIEW_GRID, CHECKED
    }
    POPUP "Limbs"
    {
      MENUITEM "Insert new...", ID_MAINMENU_LIMBS_ADD
      MENUITEM "Replace selected...", ID_MAINMENU_LIMBS_REPLACE
      MENUITEM "Delete selected", ID_MAINMENU_LIMBS_DEL
      MENUITEM SEPARATOR
      MENUITEM "Change pivot...", ID_MAINMENU_LIMBS_PIVOT
    }
    POPUP "Ragdoll"
    {
      MENUITEM "Enable ragdoll editing", ID_MAINMENU_RAGDOLL_MODE
      MENUITEM SEPARATOR
      MENUITEM "Copy all", ID_MAINMENU_RAGDOLL_COPY, GRAYED
      MENUITEM "Paste", ID_MAINMENU_RAGDOLL_PASTE, GRAYED
      MENUITEM SEPARATOR
      MENUITEM "Add particle to sprite...", ID_MAINMENU_RAGDOLL_ADDPARTICLE, GRAYED
      MENUITEM SEPARATOR
      MENUITEM "Enable particle collision", ID_MAINMENU_RAGDOLL_ENABLECOLLISION, GRAYED
      MENUITEM "Disable particle collision", ID_MAINMENU_RAGDOLL_DISABLECOLLISION, GRAYED
      MENUITEM SEPARATOR
      MENUITEM "Set parent sprite...", ID_MAINMENU_RAGDOLL_SETPARENT, GRAYED
      MENUITEM "Set as movepoint for sprite...", ID_MAINMENU_RAGDOLL_SETMOVEPOINT, GRAYED
      MENUITEM "Unset as movepoint", ID_MAINMENU_RAGDOLL_UNSETMOVEPOINT, GRAYED
      MENUITEM "Remove movepoints for sprite...", ID_MAINMENU_RAGDOLL_REMMOVEPOINT, GRAYED
      MENUITEM SEPARATOR
      MENUITEM "Connect selected particles", ID_MAINMENU_RAGDOLL_CONNECT, GRAYED
      MENUITEM "Set particle connection distance...", ID_MAINMENU_RAGDOLL_SETCONNECTDISTANCE, GRAYED
      MENUITEM "Unconnect selected particles", ID_MAINMENU_RAGDOLL_UNCONNECT, GRAYED
      MENUITEM SEPARATOR
      MENUITEM "Delete selected", ID_MAINMENU_RAGDOLL_DELETEPARTICLE, GRAYED
      MENUITEM SEPARATOR
      MENUITEM "Preview", ID_MAINMENU_RAGDOLL_PREVIEW
    }
}
